<section fxFlex fxLayoutAlign='center'>
    <section fxFlex=70 style="padding: 50px;">
        <h1>CCR Bom Trajeto</h1>
        <p>
            Em parceria com as empresas de fretamento, este é um serviço que visa beneficiar os motoristas de plataforma de transporte de carga.
        </p>
        <p>
            E um dos meios é recompensando você motorista parceiro, com um programa de pontos.
        </p>

        <h2>Como Funciona ?</h2>
        <p>
            Para cada atividade realizada em nossos pontos de parada ou atendimentos médicos através do nossos postos de saúde, o motorista ganha uma pontuação que varia de acordo com a categoria de serviço.
        </p>

        <h2>Como trocar meus pontos ?</h2>
        <p>
            Para trocar seus Pontos é muito simples, basta escolher qualquer item desta loja que esteja com valor igual ou inferior a do seu cadastro, adicionar os produtos ao carrinho e finalizar a compra com seus pontos
        </p>

        <h2>Posso transferir meus pontos ?</h2>
        <p>Os pontos são intransferiveis, e de uso exclusivos.</p>
    </section>

</section>