<section fxFlex fxLayoutAlign='space-around center'>
    <section fxFlex=70 fxLayout='row wrap' fxLayoutAlign='start top'>
        <section fxFlex=100 style="padding:50px 0;">
            <h1>Confira todos os produltos que oferecemos em troca dos seus pontos:</h1>
        </section>
        
        <mat-card style="margin: 5px;" fxFlex.lt-sm=100 fxFlex.lt-md='50' fxFlex.lt-xl='33' fxFlex.xl='20' class="mat-elevation6">
            <img width="100%" src="../../../assets/tv.jpg" alt="">
            <mat-card-title>
                Smart TV LED 50" UHD 4K Samsung 50RU7100
            </mat-card-title>
            <mat-card-subtitle>
                Controle Remoto Único, Visual Livre de Cabos, Bluetooth, HDR Premium, HDMI e USB
            </mat-card-subtitle>
            <mat-card-content>
                <section fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star_half</mat-icon>
                    <mat-icon color='primary'>star_border</mat-icon>
                    <span> &nbsp; 4,5 (100)</span>
                </section>

                <h2>15500 pts</h2>

            </mat-card-content>
            <mat-card-actions class="mat-card-actions-product" fxLayoutAlign="space-between center">
                <button mat-icon-button color='accent' matTooltip="Adicionar ao Carrinho">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <span fxFlex='1 1 auto'></span>
                <button mat-icon-button color='accent' matTooltip='Adiocionar aos favoritos'>
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button color='accent' matTooltip='Compartilhar'>
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
        
        <mat-card style="margin: 5px;" fxFlex.lt-sm=100 fxFlex.lt-md='50' fxFlex.lt-xl='33' fxFlex.xl='20' class="mat-elevation6">
            <img width="100%" src="../../../assets/celular.jpg" alt="">
            <mat-card-title>
                Smartphone Motorola E6 Play 32GB Cinza Metálico 4G
            </mat-card-title>
            <mat-card-subtitle>
                2GB RAM Tela 5,5” Câm. 13MP + Câm. Selfie 5MP
            </mat-card-subtitle>
            <mat-card-content>
                <section fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star_half</mat-icon>
                    <mat-icon color='primary'>star_border</mat-icon>
                    <span> &nbsp; 4,5 (100)</span>
                </section>

                <h2>5500 pts</h2>

            </mat-card-content>
            <mat-card-actions class="mat-card-actions-product" fxLayoutAlign="space-between center">
                <button mat-icon-button color='accent' matTooltip="Adicionar ao Carrinho">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <span fxFlex='1 1 auto'></span>
                <button mat-icon-button color='accent' matTooltip='Adiocionar aos favoritos'>
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button color='accent' matTooltip='Compartilhar'>
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>

        <mat-card style="margin: 5px;" fxFlex.lt-sm=100 fxFlex.lt-md='50' fxFlex.lt-xl='33' fxFlex.xl='20' class="mat-elevation6">
            <img width="100%" src="../../../assets/jbl.jpeg" alt="">
            <mat-card-title>
                Caixa de Som Portátil Go 2
            </mat-card-title>
            <mat-card-subtitle>
                Caixa de Som Portátil Go 2 Black JBL com Bluetooth e à Prova d´Água
            </mat-card-subtitle>
            <mat-card-content>
                <section fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star_half</mat-icon>
                    <mat-icon color='primary'>star_border</mat-icon>
                    <span> &nbsp; 4,5 (100)</span>
                </section>

                <h2>1500 pts</h2>

            </mat-card-content>
            <mat-card-actions class="mat-card-actions-product" fxLayoutAlign="space-between center">
                <button mat-icon-button color='accent' matTooltip="Adicionar ao Carrinho">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <span fxFlex='1 1 auto'></span>
                <button mat-icon-button color='accent' matTooltip='Adiocionar aos favoritos'>
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button color='accent' matTooltip='Compartilhar'>
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
        <mat-card style="margin: 5px;" fxFlex.lt-sm=100 fxFlex.lt-md='50' fxFlex.lt-xl='33' fxFlex.xl='20' class="mat-elevation6">
            <img width="100%" src="../../../assets/gopro.jpeg" alt="">
            <mat-card-title>
                Câmera Digital e Filmadora GoPro Hero 7
            </mat-card-title>
            <mat-card-subtitle>
                Câmera Digital e Filmadora GoPro Hero 7 Black 12MP Vídeo 4K LCD 2.0” Wi-Fi Bluetooth
            </mat-card-subtitle>
            <mat-card-content>
                <section fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star_border</mat-icon>
                    <span> &nbsp; 4 (100)</span>
                </section>

                <h2>5500 pts</h2>

            </mat-card-content>
            <mat-card-actions class="mat-card-actions-product" fxLayoutAlign="space-between center">
                <button mat-icon-button color='accent' matTooltip="Adicionar ao Carrinho">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <span fxFlex='1 1 auto'></span>
                <button mat-icon-button color='accent' matTooltip='Adiocionar aos favoritos'>
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button color='accent' matTooltip='Compartilhar'>
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>

        <mat-card style="margin: 5px;" fxFlex.lt-sm=100 fxFlex.lt-md='50' fxFlex.lt-xl='33' fxFlex.xl='20' class="mat-elevation6">
            <img width="100%" src="../../../assets/pneu.jpeg" alt="">
            <mat-card-title>
                Jogo de 4 Pneus Aptany Aro 16 RP203 195/55R16 91V XL
            </mat-card-title>
            <mat-card-subtitle>
                Os pneus Aptany RP203 possuem quatro grandes sulcos longitudinais, com ótima capacidade de escoamento de água
                Assim assegura segurança em estradas escorregadias
                Sua fórmula é projetada especialmente para garantir melhor frenagem em pisos secos ou molhados e menor resistência ao rolamento
                Materiais de alta tecnologia
                O seu desempenho trás segurança e prazer na condução do veículo

            </mat-card-subtitle>
            <mat-card-content>
                <section fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star</mat-icon>
                    <mat-icon color='primary'>star_border</mat-icon>
                    <span> &nbsp; 4 (100)</span>
                </section>

                <h2>5500 pts</h2>

            </mat-card-content>
            <mat-card-actions class="mat-card-actions-product" fxLayoutAlign="space-between center">
                <button mat-icon-button color='accent' matTooltip="Adicionar ao Carrinho">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
                <span fxFlex='1 1 auto'></span>
                <button mat-icon-button color='accent' matTooltip='Adiocionar aos favoritos'>
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button color='accent' matTooltip='Compartilhar'>
                    <mat-icon>share</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>

    </section>
</section>